# Directories with temporary files
bin/
Debug/
doc/
GeneratedFiles/
Linux/
Release/
Win32/
Windows/
msvc2008/

# Wild cards
*.log
*.ncb
*.o
*.obj
*.pdb
*.pro.user
*.suo
*.vcproj.*.user
.goutputstream-*
core.*

# Specific files
.cproject
.project
core
dosbox.pid
MoMCustomizer/Makefile
MoMTest/Makefile
MoMTweaker/Makefile
Makefile.Debug
Makefile.Release
